body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url("../img/blue.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.container-data{
	background-color: #000;
	opacity: 0.8;
}



