body{
    margin: 0;
    padding: 0;
    width: 100%;
    color:white;
    background-image: url("../img/blue.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#container-data{
	background-color: #000;
	opacity: 0.6;
	height: 100%;
	margin-bottom:52%;
	margin-top: 5%;
	z-index: 3;
}

.data-item{
	z-index: 3;
}

#data-btn{
	// padding-top: 13vh;
}

